[submodule "api_vivint"]
	path = api_vivint
	url = git@github.com:7ooL/api_vivint.git
[submodule "api_decora"]
	path = api_decora
	url = git@github.com:7ooL/api_decora.git
[submodule "api_infinitude"]
	path = api_infinitude
	url = git@github.com:7ooL/api_infinitude.git
